@page "/"

@if (_tenant != null)
{
    <PageTitle>Chat (@_tenant.GetCount("chat"))</PageTitle>
    <a href="/" target="_blank">Open in new tab</a>
    <div class="message">
        <div class="message-header">
            <input type="text" @bind-value="@nextMessage" placeholder="Type your message here...">
            <button @onclick="(e)=>SendMessage(0)">All</button>
            <button @onclick="(e)=>SendMessage(1)">All except me</button>
        </div>
        <div>
            <ul>
                @foreach (string message in messagesDisplayList)
                {
                    <li>
                        @message
                    </li>
                }
            </ul>
        </div>
    </div>
}